* ::after,::before{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

*::selection{
  background-color: #c2c2;
  color: rgb(135, 132, 132);
}

body{
  background-color: #c2c2  ;
  font-family: Arial;
}

.card{
  width: 330px;
  margin: 40px auto ;
  padding: 20px;
  background-color: #ffff;
  box-shadow: 0 0 5px black;
  border-radius: 10px;
}

.card_title{
  text-align: center;
  padding-bottom: 7px;
  margin-bottom: 15px;
}

.card_title::before,
.card_title::after{
  content: "";
  display: inline-block;
  width: 20%;
  height: 2px;
  background-color: black ;
  position: relative;
  margin-bottom: 5px;
}

ul{
  counter-reset: adso;  
}

li{
  list-style: none;
  padding: 0;
  margin-bottom: 10 px;
}

li::before{
  content: counter(adso);
  counter-increment:adso;
  background-color: #c2c2;
  width: 30px;
  height: 30px;
  display: inline-block;
  color: rgb(156, 151, 151);
  text-align: center;
  line-height: 30px;
  border-radius: 50%;
  margin: 5px;
}